body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4f80b4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.header-buttons {
    display: flex;
    align-items: center;
}


header h1 {
    margin: 0;
}

button {
    margin: 10px;
}

table {
width: calc(100% - 40px); 
margin: 20px;
border-collapse: collapse;
margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

.active {
    background-color: #007bff;
    color: white;
}
footer {
    text-align: center;
    color: #777;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: auto;
}

button#deconnectionButton {
    align-self: flex-start; 
    color: white; 
    padding: 8px 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: red;
    cursor: pointer;
}
button#addFactureButton {
    margin: 10px;
    align-self: flex-start; 
    background-color: #007bff; 
    color: white; 
    padding: 8px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

button#searchButton {
    margin: 10px;
    align-self: flex-end; 
    background-color: #007bff;
    color: white;
    padding: 8px 15px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}


#searchContainer {
    display: flex;
 justify-content: flex-end; 
    margin: 10px;
}

input#searchInput {
    margin-right: 5px;
}

.update-button {
background-color: #28a745; 
color: white; 
padding: 8px 15px;
border: none; 
border-radius: 5px; 
cursor: pointer;
}

.delete-button{
background-color: #dc3545; 
color: white; 
padding: 8px 15px; 
border: none; 
border-radius: 5px;
cursor: pointer;
}

.pdf-button{
background-color: #007bff;

color: white; 
padding: 8px 15px;
border: none;
border-radius: 5px; 
cursor: pointer;
}
#pdfall-button{
background-color: #007bff;
color: white; 
padding: 8px 15px; 
border: none;
border-radius: 5px; 
cursor: pointer;
}

#profileButton {
    margin: 10px;
    background-color: #007bff;
    color: white;
    padding: 8px 15px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}

.adminButton{
background-color: #007bff;
color: white; 
padding: 8px 15px; 
border: none;
border-radius: 5px; 
cursor: pointer;
}

